.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 150px;
  height: 250px;

  border: 1px solid #fff;
  border-radius: 5px;
  background: #000;
}

.item:nth-child(1) {
  margin-bottom: 30px;
}

.red {
  color: red;
}

.green {
  color: green;
}
