table {
  width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  background: #000;
}

tbody {
  color: #000;
  text-transform: capitalize;
}

tbody tr:nth-child(odd) {
  background: #fff;
}

tbody tr:nth-child(even) {
  background: gray;
}
